Celery
Django>=4.1,<4.2
django-celery-beat
django-celery-results
django-cors-headers
django-extensions
django-filter
django-simple-history
djangorestframework
flower
gunicorn
requests
psycopg2
python-keycloak
uvicorn
whitenoise
