Celery
coreapi
Django>=4.1,<4.3
django-celery-beat
django-celery-results
django-cors-headers
django-extensions
django-filter
django-simple-history
djangorestframework<3.16
drf-yasg
flower
gunicorn
requests
opencensus
opencensus-context
opencensus-ext-azure
opencensus-ext-django
opencensus-ext-logging
opencensus-ext-postgresql
opencensus-ext-requests
psycopg2-binary
python-keycloak
urllib3<2.0.0
uvicorn
whitenoise
