interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=eikenprocessierups
  response:
    body:
      string: '{"_links":{"self":{"href":"http://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=eikenprocessierups"},"next":{"href":null},"previous":{"href":null}},"count":2,"results":[{"_links":{"self":{"href":"http://test.com/signals/v1/private/signals/2"}},"_display":"2
        - m - None - 2023-04-05T15:15:51.092048+02:00","id":2,"id_display":"SIG-2","signal_id":"98b5c145-87f0-48be-8e92-2635b97591f4","source":"online","text":"Eum
        similique voluptatem autem hic ipsa tempore. Voluptatem est sunt explicabo
        nulla consequatur. Nam voluptates modi officiis dolor. Velit ut alias architecto
        ut. Natus eveniet perferendis aut nisi quibusdam vel sit necessitatibus inventore.
        Iusto qui est.","text_extra":"","status":{"text":null,"user":null,"state":"m","state_display":"Gemeld","target_api":null,"extra_properties":null,"send_email":false,"created_at":"2023-04-05T15:15:51.120996+02:00","email_override":null},"location":{"id":2,"stadsdeel":"E","buurt_code":null,"area_type_code":null,"area_code":null,"area_name":null,"address":null,"address_text":"","geometrie":{"type":"Point","coordinates":[4.90022563,52.36768424]},"extra_properties":null,"created_by":null,"bag_validated":false},"category":{"sub":"Eikenprocessierups","sub_slug":"eikenprocessierups","main":"Openbaar
        groen en water","main_slug":"openbaar-groen-en-water","category_url":"http://test.com/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups","departments":"STW","created_by":null,"text":null,"deadline":"2023-04-19T15:15:51.092048+02:00","deadline_factor_3":"2023-05-17T15:15:51.092048+02:00"},"reporter":{"email":"Tiffany.Ritchie6@example.org","phone":"+31683142950","sharing_allowed":true,"allows_contact":true},"priority":{"priority":"normal","created_by":null},"type":{"code":"SIG","created_at":"2023-04-05T15:15:51.128033+02:00","created_by":null},"created_at":"2023-04-05T15:15:51.092048+02:00","updated_at":"2023-04-05T15:15:51.167724+02:00","incident_date_start":"2023-04-05T15:15:51.063000+02:00","incident_date_end":null,"operational_date":null,"has_attachments":false,"extra_properties":[{"id":"extra_eikenprocessierups","label":"extra_eikenprocessierups","answer":[{"id":1879642},{"id":1879270},{"label":"niet
        op de kaart"}],"category_url":"/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups"},{"id":"extra_nest_grootte","label":"extra_nest_grootte","answer":{"label":"Rupsen
        bedekken de stam als een deken"},"category_url":"/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups"}],"notes":[{"text":"Automatische
        e-mail bij registratie van de melding is verzonden aan de melder.","created_by":null}],"routing_departments":null,"has_parent":false,"has_children":false,"assigned_user_email":null},{"_links":{"self":{"href":"http://test.com/signals/v1/private/signals/1"}},"_display":"1
        - m - None - 2023-04-05T15:15:49.584142+02:00","id":1,"id_display":"SIG-1","signal_id":"12a0e0af-8197-465f-9765-ea401e0eb9a4","source":"online","text":"In
        et similique minima praesentium quibusdam et eum beatae. Debitis consequatur
        sed ea. Exercitationem laboriosam reiciendis ducimus corrupti accusantium.
        Explicabo aliquam quo doloribus. At corporis porro nesciunt eligen[...]
- request:
    body: '{"status": {"state": "ready to send", "send_email": false, "text": "Melding
      klaar om verzonden te worden naar GISIB", "target_api": "gisib"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: http://test.com/signals/v1/private/signals/2
  response:
    body:
      string: '{"_links":{"curies":{"name":"sia","href":"http://test.com/signals/v1/relations"},"self":{"href":"http://test.com/signals/v1/private/signals/2"},"archives":{"href":"http://test.com/signals/v1/private/signals/2/history"},"sia:attachments":{"href":"http://test.com/signals/v1/private/signals/2/attachments"},"sia:pdf":{"href":"http://test.com/signals/v1/private/signals/2/pdf"},"sia:context":{"href":"http://test.com/signals/v1/private/signals/2/context"}},"_display":"2
        - ready to send - None - 2023-04-05T15:15:51.092048+02:00","category":{"sub":"Eikenprocessierups","sub_slug":"eikenprocessierups","main":"Openbaar
        groen en water","main_sl[...]
- request:
    body: '{"Username": "test-user", "Password": "test-password", "ApiKey": "test-api-key"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Login
  response:
    body:
      string: '123456789'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      ETag:
      - W/"9-98O8HYCOBHMq32eZZczDTKeuNEE"
    status:
      code: 200
      message: OK
- request:
    body: '{"Properties": {"SIG Nummer melding": 2, "Datum melding": "05-04-2023 13:15",
      "Nestformaat": null}, "ObjectKindNaam": "EPR Curatief", "Geometry": {"type":
      "Point", "coordinates": [121833.00003270444, 486755.99977639556]}}'
    headers:
      Authorization:
      - Bearer 1234567890
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Insert
  response:
    body:
      string: "{\n  \"Warnings\": null,\n  \"Message\": \"OK\",\n  \"Errors\": null,\n
        \ \"Properties\": {\n    \"SIG Nummer melding\": 2,\n    \"Datum melding\":
        \"05-04-2023 13:15\",\n    \"Nestformaat\": null,\n    \"Id\": 8229,\n    \"GUID\":
        \"c6964d3c-15b4-42ed-bfef-b2f0c190146d\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f4-/rGv/Cf0hnYK9CPLTh7TkoMDkbw"
    status:
      code: 200
      message: OK
[...]
