interactions:
- request:
    body: '[{"Criterias": [{"Property": "Soortnaam.Description", "Value": "Quercus",
      "Operator": "StartsWith"}], "Operator": "AND"}]'
    headers:
      Authorization:
      - Bearer 1234567890
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Boom/WithFilter/Items?offset=0&limit=5
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"crs\":{\"type\":\"name\",\"properties\":{\"name\":\"urn:ogc:def:crs:EPSG::28992\"}},\"links\":[{\"rel\":\"next\",\"type\":\"application/geo+json\",\"title\":\"Next
        page\",\"href\":\"https://amsterdam-test.gisib.nl/api/api/OGCCollections/Boom/items?crs=28992&limit=5&offset=5\"},{\"rel\":\"prev\",\"type\":\"application/geo+json\",\"title\":\"Previous
        page\",\"href\":\"https://amsterdam-test.gisib.nl/api/api/OGCCollections/Boom/items?crs=28992&limit=5&offset=0\"},{\"rel\":\"first\",\"type\":\"application/geo+json\",\"title\":\"First
        page\",\"href\":\"https://amsterdam-test.gisib.nl/api/api/OGCCollections/Boom/items?crs=28992&limit=5&offset=0\"}],\"features\":[{\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"crs\":{\"type\":\"name\",\"properties\":{\"name\":\"EPSG:28992\"}},\"coordinates\":[120154.43,483804.66]},\"properties\":{\"Actueel
        kwaliteitsniveau\":null,\"Afvoeren\":null,\"Beheerder\":{\"Id\":798,\"GUID\":\"{7035C783-3270-4953-ABA3-BB3195CCAA36}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Beheerder/items/798\",\"Description\":\"Gemeente\"},\"Beheerder
        gedetailleerd\":{\"Id\":20124,\"GUID\":\"{EA5410DD-6FC0-4AC2-998C-1404BEFD1CF6}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Beheerder
        gedetailleerd/items/20124\",\"Description\":\"Stadsdeel Zuid\"},\"Beheergebied\":{\"Id\":26966,\"GUID\":\"{BB120E70-2749-47B1-A239-CCC65E35C2DF}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Beheergebied/items/26966\",\"Description\":\"Buitenveldert,
        Zuidas\"},\"Beleidsstatus\":null,\"Beoogde omlooptijd\":null,\"Bereikbaarheid\":null,\"Beschermde
        flora en fauna\":null,\"Beschermingsstatus\":null,\"Beschermingsstatus gedetailleerd\":null,\"BGT
        Bronhouder\":null,\"BGT Eindregistratie\":null,\"BGT In onderzoek\":null,\"BGT
        Objecttype\":{\"Id\":17958,\"GUID\":\"{C87B3CD3-97E1-4DE4-952D-21D6C0A5A183}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/BGT
        Objecttype/items/17958\",\"Description\":\"Vegetatieobject\"},\"BGT Opmerking\":null,\"BGT
        Status\":null,\"Boombeeld\":{\"Id\":77,\"GUID\":\"{40236853-C36D-4B72-BD92-E01F9796C49F}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Boombeeld/items/77\",\"Description\":\"Boombeeld
        regulier (HB)\"},\"Boomgroep\":null,\"Boomhoogte actueel\":null,\"Boomhoogteklasse
        eindbeeld\":null,\"Boomveiligheidsklasse\":{\"Id\":1172,\"GUID\":\"{24C86F42-B344-4D87-A822-57CE10A8C8EF}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Boomveiligheidsklasse/items/1172\",\"Description\":\"Boom
        zonder (noemenswaardige) gebreken\"},\"Eigenaar\":{\"Id\":1374,\"GUID\":\"{C6062476-5FF6-43DB-951F-3F94D450CB6F}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Eigenaar/items/1374\",\"Description\":\"Gemeente\"},\"Eigenaar
        gedetailleerd\":{\"Id\":20142,\"GUID\":\"{64B2F3AA-7D6E-477B-9984-880CB1A8A01C}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Eigenaar
        gedetailleerd/items/20142\",\"Description\":\"Gemeente Amsterdam\"},\"Gebiedstype\":null,\"Gebruiksfunctie\":null,\"Gemeente\":{\"Id\":20247,\"GUID\":\"{31C33111-C0B4-489E-8539-1B7D74DF2E5A}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Gemeente/items/20247\",\"Description\":\"Amsterdam\"},\"Gewenst
        kwaliteitsniveau\":{\"Id\":1873,\"GUID\":\"{B1C1B668-DC6B-4143-835A-F8B2CC543BCA}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Gewenst
        kwaliteitsniveau/items/1873\",\"Description\":\"A\"},\"Groeifase\":null,\"Grondsoort\":null,\"Grondsoort
        gedetailleerd\":null,\"Herplantplicht\":null,\"ID uit oude beheerindeling\":\"999F7E69-8F79-4B59-BE18-C665E5411CD4\",\"Identificatie\":null,\"Jaar
        van aanleg\":1985,\"Kiemjaar\":null,\"Kroondiameterklasse actueel\":null,\"Kroondiameterklasse
        eindbeeld\":null,\"Kroonvolume\":null,\"Kweker\":null,\"Leeftijd\":null,\"Leverancier\":null,\"Ligging\":null,\"LV
        publicatiedatum\":null,\"Meerstammig\":null,\"Memo\":null,\"Monetaire boomwaarde\":null,\"MSLINK\":null,\"Objecttype\":{\"Id\":14109,\"GUID\":\"{635136A6-334C-4C9A-B0AD-F69C0CDB52B7}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Objecttype/items/14109\",\"Description\":\"Boom\"},\"Omgevingsrisicoklasse\":{\"Id\":1911,\"GUID\":\"{3DED9455-E00B-4050-92AD-C2E59F83AD36}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Omgevingsrisicoklasse/items/1911\",\"Description\":\"Hoog\"},\"Onderhoudsplichtige\":null,\"Openbare
        ruimte\":{\"Id\":24280,\"GUID\":\"{4707A3A3-7578-4F8D-BDCE-4BE9E3DA7513}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Openbare
        ruimte/items/24280\",\"Description\":\"Strawinskypad\"},\"Opleverdatum\":null,\"Relatieve
        hoogteligging\":null,\"Snoeifase\":{\"Id\":1370,\"GUID\":\"{5FE30ABF-44D5-4C9F-A527-34DD4D00485D}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Snoeifase/items/1370\",\"Description\":\"Begeleidingssnoeifase\"},\"Soortnaam\":{\"Id\":36418,\"GUID\":\"{EC32D5B8-0B0F-4458-930D-C49A6D04695C}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Soortnaam/items/36418\",\"Description\":\"Quercus
        robur\"},\"Stamdiameter\":null,\"Stamdiameterklasse\":null,\"Standplaats\":null,\"Standplaats
        gedetailleerd\":null,\"Takvrije ruimte tot gebouw (eindbeeld)\":null,\"Takvrije
        stam eindbeeld\":null,\"Takvrije zone primair eindbeeld\":null,\"Takvrije
        zone secundair eindbeeld\":null,\"Theoretisch eindjaar\":null,\"Tijdstip registratie\":null,\"Transponder\":null,\"Type\":{\"Id\":14617,\"GUID\":\"{F1BE01CB-ACE2-4432-AE30-3993AFB7AAB3}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Type/items/14617\",\"Description\":\"Boom
        niet vrij uitgroeiend\"},\"Type gedetailleerd\":null,\"Vermeerderingsvorm\":null,\"Verplant\":null,\"Verplantbaar\":null,\"Verwijderdatum\":null,\"Vrije
        doorrijhoogte\":{\"Id\":1167,\"GUID\":\"{78E5C2A3-8613-4DAB-A827-7502D0A77D87}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Vrije
        doorrijhoogte/items/1167\",\"Description\":\"4,5 m. en groter\"},\"Vrije doorrijhoogte
        primair\":{\"Id\":1167,\"GUID\":\"{78E5C2A3-8613-4DAB-A827-7502D0A77D87}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Vrije
        doorrijhoogte/items/1167\",\"Description\":\"4,5 m. en groter\"},\"Vrije doorrijhoogte
        secundair\":{\"Id\":1167,\"GUID\":\"{78E5C2A3-8613-4DAB-A827-7502D0A77D87}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Vrije
        doorrijhoogte/items/1167\",\"Description\":\"4,5 m. en groter\"},\"Vrije takval\":null,\"Waterschap\":null,\"Wijk\":{\"Id\":20322,\"GUID\":\"{B2EB43FF-685C-4329-ADFD-F8F2B7C00645}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Wijk/items/20322\",\"Description\":\"Zuidas\"},\"Wijze
        van inwinning\":null,\"Woonplaats\":{\"Id\":20249,\"GUID\":\"{02CC5815-955D-4B4B-BB76-3E0E3B45280C}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Woonplaats/items/20249\",\"Description\":\"Amsterdam\"},\"Objectnummer\":\"589668\",\"Controlefrequentie\":{\"Id\":36866,\"GUID\":\"{208EC863-3856-4898-B9E6-B66E1DE8FE5C}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Controlefrequentie/items/36866\",\"Description\":\"1
        x per 3 jaar\"},\"ConversieID\":\"589668\",\"X Coordinaat\":120154.43,\"Y
        Coordinaat\":483804.66,\"Straatnaam oude beheergegevens\":null,\"BGT Type\":{\"Id\":18181,\"GUID\":\"{6EE20D02-4065-44D1-90BF-2CB3102E685F}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/BGT
        Type/items/18181\",\"Description\":\"Niet-bgt (Vegetatieobject)\"},\"IMGeo
        Plustype\":{\"Id\":18335,\"GUID\":\"{38AE3D47-E125-4EA2-BE8D-665FA25C1587}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/IMGeo
        Plustype/items/18335\",\"Description\":\"boom\"},\"Conditiescore\":{\"Id\":919396,\"GUID\":\"{115E83B5-4E40-4F30-8BCA-F85DF68FC422}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Conditiescore/items/919396\",\"Description\":\"3\"},\"Actuele
        opkroonhoogte\":{\"Id\":919406,\"GUID\":\"{1D69F7DB-C396-43A8-975D-8FA945FEFA1F}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Actuele
        opkroonhoogte/items/919406\",\"Description\":\"Nog niet bereikt\"},\"Beoogde
        opkroonhoogte\":null,\"IMGeo Plusstatus\":null,\"Postcode\":null,\"Stadsdeel
        of kern\":{\"Id\":20265,\"GUID\":\"{67B1DB14-1C6A-4154-8460-00322EA18559}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Stadsdeel
        of kern/items/20265\",\"Description\":\"Zuid\"},\"Datum inwinning\":null,\"Knipoppervlakte\":null,\"Groeiplaatsinrichting\":null,\"Boombeschermer\":null,\"BOR
        Type\":null,\"Objectnaam\":null,\"Snoeifrequentie\":null,\"Knipfrequentie\":null,\"Beheerafspraak\":{\"Id\":1284590,\"GUID\":\"{1F914D85-B95B-4308-8755-25044FDAA6AD}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Beheerafspraak/items/1284590\",\"Description\":\"Boom
        - BOOM IN BEPLANTING\"},\"Buurt\":{\"Id\":20703,\"GUID\":\"{8861682F-D71A-4B4C-9170-A18095CF1FB8}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Buurt/items/20703\",\"Description\":\"Zuidas-Noord\"},\"Aangemaakt
        door\":null,\"Boomhoogteklasse actueel\":{\"Id\":885,\"GUID\":\"{7BF84426-ABCB-4125-8487-23C768E39A50}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Boomhoogteklasse/items/885\",\"Description\":\"6
        tot 9 m.\"},\"Aantal\":1.0,\"Deelsportcomplex\":null,\"Inwinningsbedrijf\":null,\"Sportterrein\":null,\"Sportveld\":null,\"BoomID
        Geovisia\":\"589668\",\"BoomID Gisib\":\"589668\",\"Foto\":null,\"Beleid opmerkingen\":null,\"Datum
        laatste snoei\":null,\"Datum volgende inspectie\":\"2023-04-22T00:00:00\",\"Boomaantasting\":null,\"Selectie
        1\":null,\"Selectie 2\":{\"Id\":1846124,\"GUID\":\"{B4DA3E47-6C9A-4ABC-8CEA-80F9F72D245A}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Selectie
        2/items/1846124\",\"Description\":\"Selectie snoei BVO 2020\"},\"Selectie
        uitvoering\":null,\"Selectie kap en aanplanting\":null,\"Snoeiwijze\":{\"Id\":1846028,\"GUID\":\"{76B01CC3-9193-46E2-8CD8-08558F4799B2}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Snoeiwijze/items/1846028\",\"Description\":\"Begeleidingssnoei\"},\"Boombeheerbaarheid\":null,\"Controlefrequentie
        BVC\":{\"Id\":1846307,\"GUID\":\"{ED1CBE0E-7A79-4EA4-8BF0-F33899ACB49E}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Controlefrequentie
        BVC/items/1846307\",\"Description\":\"Eens in 3 jaar\"},\"Boomgrootte\":null,\"Toekomstverwachting\":null,\"Soortnaam
        Nederlands\":{\"Id\":33932,\"GUID\":\"{1813F42C-5FCE-4A54-B9D5-5E9CF186511E}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Soortnaam
        Nederlands/items/33932\",\"Description\":\"Zomereik\"},\"Boomconditie\":{\"Id\":1846312,\"GUID\":\"{9494D0EA-96FE-4215-B98C-69B0894BB5FF}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Boomconditie/items/1846312\",\"Description\":\"Onvoldoende\"},\"Matching\":\"Match
        op guid\",\"Controle positie boompunt\":null,\"Latitude\":52.341056,\"Longitude\":4.875886,\"URL
        Google Maps\":\"https://www.google.com/maps/search/?api=1&query=52.341056,4.875886\",\"URL
        Google Maps 2\":\"https://www.google.com/maps/dir/?api=1&destination=52.341056,4.875886&travelmode=\",\"Ecologisch
        beheren\":null,\"Restrictie beschermde soort EPR\":null,\"Dichtstbijzijnde
        BAG Adres\":\"Beethovenstraat 200\",\"Dichtstbijzijnde BAG Postcode\":\"1077JZ\",\"Afstand
        tot dichtstbijzijnde BAG Adres\":35.42,\"Code\":null,\"GUID\":\"{8B61D77E-3DE5-488F-BF58-B530FA5C504A}\",\"Id\":919937,\"Description\":null,\"IMGeoId\":null,\"Valid_Till\":null,\"LastUpdate\":\"2022-01-06T19:01:01.047268\",\"Revisie\":3}},{\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"crs\":{\"type\":\"name\",\"properties\":{\"name\":\"EPSG:28992\"}},\"coordinates\":[120126.24,483804.78]},\"properties\":{\"Actueel
        kwaliteitsniveau\":null,\"Afvoeren\":null,\"Beheerder\":{\"Id\":798,\"GUID\":\"{7035C783-3270-4953-ABA3-BB3195CCAA36}\",\"Url\":\"https://amsterdam-test.gisib.nl/api/api/Collections/Beheerder/items/798\",\"Description\":\"Gemeente\"},\"Beheerder
        gedetailleerd\":{\"Id\":20124,\"GUID\":\"{EA5[...]
