interactions:
- request:
    body: '{"Username": "test-user", "Password": "test-password", "ApiKey": "test-api-key"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Login
  response:
    body:
      string: '123456789'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      ETag:
      - W/"9-98O8HYCOBHMq32eZZczDTKeuNEE"
    status:
      code: 200
      message: OK
- request:
    body: '{"Properties": {"SIG Nummer melding": 1234567890, "Datum melding": "23-01-2023
      15:40", "Nestformaat": 3749024, "Boom": 1879642}, "ObjectKindNaam": "EPR Curatief"}'
    headers:
      Authorization:
      - Bearer 1234567890
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Insert
  response:
    body:
      string: '{"Warnings":null,"Message":"OK","Errors":null,"Properties":{"SIG Nummer
        melding":1234567890,"Datum melding":"23-01-2023 15:40","Nestformaat":3749024,"Boom":1879642,"Id":3751040,"GUID":"{8BEAB377-67EF-4F80-A8F8-C8766403EE38}"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
