interactions:
- request:
    body: '{"Username": "test-user", "Password": "test-password", "ApiKey": "test-api-key"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Login
  response:
    body:
      string: '123456789'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      ETag:
      - W/"9-98O8HYCOBHMq32eZZczDTKeuNEE"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 1234567890
    method: GET
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Registratie%20EPR/Items?offset=0&limit=500
  response:
    body:
      string: '[{"type":"Registratie EPR","properties":{"Code":"2","GUID":"{217AA96F-39DD-44B2-8FB6-5FE05D7AF19A}","Id":3748945,"Description":"a.
        Melding","IMGeoId":null,"Valid_Till":null,"LastUpdate":"2022-09-29T10:32:06.091184","Revisie":1}},{"type":"Registratie
        EPR","properties":{"Code":"4","GUID":"{1F038C06-9DAD-4890-ABC4-2C53F85C347F}","Id":3748946,"Description":"b.
        Inspecteren","IMGeoId":null,"Valid_Till":null,"LastUpdate":"2022-09-29T10:32:06.106794","Revisie":1}},{"type":"Registratie
        EPR","properties":{"Code":"3","GUID":"{4B7AAA66-D9EF-446D-B82F-DB06E0A2A5A9}","Id":3748947,"Description":"c.
        Registratie EPR","IMGeoId":null,"Valid_Till":null,"LastUpdate":"2022-09-29T10:32:06.106794","Revisie":[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer 1234567890
    method: GET
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Nestformaat/Items?offset=0&limit=500
  response:
    body:
      string: '[{"type":"Nestformaat","properties":{"Code":"1","GUID":"{5E1B42B8-E3BF-4C3E-9C27-CF09F8DE0C2A}","Id":3749024,"Description":"Nest
        is zo groot als een tennisbal","IMGeoId":null,"Valid_Till":null,"LastUpdate":"2022-11-01T19:07:38.98295","Revisie":1}},{"type":"Nestformaat","properties":{"Code":"2","GUID":"{861A20E4-3A31-421E-A925-84173F9D55FC}","Id":3749025,"Description":"Nest
        is zo groot als een voetbal","IMGeoId":null,"Valid_Till":null,"LastUpdate":"2022-11-01T19:07:43.248551","Revisie":1}},{"type":"Nestformaat","properties":{"Code":"3","GUID":"{06E0CB6D-6800-4CE1-949C-0C9C5D7FF2D2}","Id":3749026,"Description":"Rupsen
        bedekken de stam als een deken","IMGeoId":null,"Valid_Till":null,"LastUpdate":"2022-11-01T19:07:48.717267","Revisie":1}},{"type":"Nestformaat","properties":{"Code":"4","GUID":"{E7512A01-7A1D-48CA-AA8E-A957DCF3E7FB}","Id":3749027,"Description":"De
        rupsen in de boom hebben nog geen nest gevormd","IMGeoId":null,"Valid_Till":null,"LastUpdate":"2022-11-01T19:07:54.685981","Revisie":1}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
