interactions:
- request:
    body: '{"Username": "test-user", "Password": "test-password", "ApiKey": "test-api-key"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Login
  response:
    body:
      string: '123456789'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      ETag:
      - W/"9-98O8HYCOBHMq32eZZczDTKeuNEE"
    status:
      code: 200
      message: OK
- request:
    body: '{"Properties": {"SIG Nummer melding": 123456, "Datum melding": "01-02-2023
      00:00", "Nestformaat": 3749026}, "ObjectKindNaam": "EPR Curatief", "Geometry":
      {"type": "Point", "coordinates": [105183.04288665723, 478576.3475706752]}}'
    headers:
      Authorization:
      - Bearer 1234567890
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Insert
  response:
    body:
      string: '{"Warnings":null,"Message":"OK","Errors":null,"Properties":{"SIG Nummer
        melding":123456,"Datum melding":"01-02-2023 00:00","Nestformaat":3749026,"Id":3751046,"GUID":"{DBAC414A-8459-4CD8-B0C3-E04B79B41CD9}"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Properties": {"SIG Nummer melding": 123456, "Datum melding": "01-02-2023
      00:00", "Nestformaat": 3749026, "Boom": 920107}, "ObjectKindNaam": "EPR Curatief"}'
    headers:
      Authorization:
      - Bearer 1234567890
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Insert
  response:
    body:
      string: '{"Warnings":null,"Message":"OK","Errors":null,"Properties":{"SIG Nummer
        melding":123456,"Datum melding":"01-02-2023 00:00","Nestformaat":3749026,"Boom":920107,"Id":3751047,"GUID":"{0A5D5357-EDB2-46C6-96B8-3DF989E63BC6}"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
