interactions:
- request:
    body: '{"Username": "test-user", "Password": "test-password", "ApiKey": "test-api-key"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Login
  response:
    body:
      string: '123456789'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      ETag:
      - W/"9-98O8HYCOBHMq32eZZczDTKeuNEE"
    status:
      code: 200
      message: OK
- request:
    body: '[{"Criterias": [{"Property": "Soortnaam.Description", "Value": "Quercus",
      "Operator": "StartsWith"}, {"Property": "LastUpdate", "Value": "2023-01-24T08:49:59",
      "Operator": "GreaterOrEqual"}], "Operator": "AND"}]'
    headers:
      Authorization:
      - Bearer 1234567890
      Content-Type:
      - application/json
    method: POST
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Boom/WithFilter/Items?offset=0&limit=2
  response:
    body:
      string: '{"type":"FeatureCollection","crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:EPSG::28992"}},"links":[{"rel":"next","type":"application/geo+json","title":"Next
        page","href":"https://amsterdam-test.gisib.nl/api/api/OGCCollections/Boom/items?crs=28992&limit=2&offset=2"},{"rel":"prev","type":"application/geo+json","title":"Previous
        page","href":"https://amsterdam-test.gisib.nl/api/api/OGCCollections/Boom/items?crs=28992&limit=2&offset=0"},{"rel":"first","type":"application/geo+json","title":"First
        page","href":"https://amsterdam-test.gisib.nl/api/api/OGCCollections/Boom/items?crs=28992&limit=2&offset=0"}],"features":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 1234567890
    method: GET
    uri: https://amsterdam-test.gisib.nl/api/api/Collections/Boom/DeletedItems?referenceDate=2023%2F01%2F24
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
