interactions:
- request:
    body: '{"status": {"state": "sent", "send_email": false, "text": "test"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: http://test.com/signals/v1/private/signals/1
  response:
    body:
      string: '["Invalid state transition from `Extern: afgehandeld` to `Extern: verzonden`."]'
    headers:
      Allow:
      - GET, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-API-Version:
      - 2.19.0
    status:
      code: 400
      message: Bad Request
version: 1
