interactions:
- request:
    body: '{"status": {"state": "done external", "send_email": false, "text": "Alle
      EPR curatief meldingen zijn afgehandeld."}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: http://test.com/signals/v1/private/signals/1
  response:
    body:
      string: '{"_links":{"curies":{"name":"sia","href":"http://test.com/signals/v1/relations"},"self":{"href":"http://test.com/signals/v1/private/signals/1"},"archives":{"href":"http://test.com/signals/v1/private/signals/1/history"},"sia:attachments":{"href":"http://test.com/signals/v1/private/signals/1/attachments"},"sia:pdf":{"href":"http://test.com/signals/v1/private/signals/1/pdf"},"sia:context":{"href":"http://test.com/signals/v1/private/signals/1/context"}},"_display":"1
        - done external - None - 2023-04-05T15:15:49.584142+02:00","category":{"sub":"Eikenprocessierups","sub_slug":"eikenprocessierups","main":"Openbaar
        groen en water","main_slug":"openbaar-groen-en-water","category_url":"http://test.com/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups","departments":"STW","created_by":null,"text":null,"deadline":"2023-04-19T15:15:49.584142+02:00","deadline_factor_3":"2023-05-17T15:15:49.584142+02:00"},"id":1,"id_display":"SIG-1","has_attachments":false,"location":{"id":1,"stadsdeel":"E","buurt_code":null,"area_type_code":null,"area_code":null,"area_name":null,"address":null,"address_text":"","geometrie":{"type":"Point","coordinates":[4.90022563,52.36768424]},"extra_properties":null,"created_by":null,"bag_validated":false},"status":{"text":"Alle
        EPR curatief meldingen zijn afgehandeld.","user":"signals.admin@example.com","state":"done
        external","state_display":"Extern: afgehandeld","target_api":null,"extra_properties":null,"send_email":false,"created_at":"2023-04-05T16:05:15.804147+02:00","email_override":null},"reporter":{"email":"Kailey_Hoppe84@example.net","phone":"+31660355234","sharing_allowed":true,"allows_contact":true},"priority":{"priority":"normal","created_by":null},"notes":[{"text":"Automatische
        e-mail bij registratie van de melding is verzonden aan de melder.","created_by":null}],"type":{"code":"SIG","created_at":"2023-04-05T15:15:49.632598+02:00","created_by":null},"source":"online","text":"In
        et similique minima praesentium quibusdam et eum beatae. Debitis consequatur
        sed ea. Exercitationem laboriosam reiciendis ducimus corrupti accusantium.
        Explicabo aliquam quo doloribus. At corporis porro nesciunt eligendi enim.
        Architecto consectetur labore rerum dolorem.","text_extra":"","extra_properties":[{"id":"extra_eikenprocessierups","label":"extra_eikenprocessierups","answer":[{"id":1879642},{"id":1879270},{"label":"niet
        op de kaart"}],"category_url":"/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups"},{"id":"extra_nest_grootte","label":"extra_nest_grootte","answer":{"label":"Rupsen
        bedekken de stam als een deken"},"category_url":"/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups"}],"created_at":"2023-04-05T15:15:49.584142+02:00","updated_at":"2023-04-05T16:05:15.813487+02:00","incident_date_start":"2023-04-05T15:15:49.481000+02:00","incident_date_end":null,"routing_departments":null,"attachments":[],"assigned_user_email":null}'
    headers:
      Allow:
      - GET, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-API-Version:
      - 2.19.0
    status:
      code: 200
      message: OK
version: 1
