azure-monitor-opentelemetry-exporter
Celery
coreapi
Django>=4.1,<4.3
django-celery-beat
django-celery-results
django-cors-headers
django-extensions
django-filter
django-simple-history
djangorestframework<3.16
drf-yasg
flower
gunicorn
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2
opentelemetry-sdk
requests
psycopg2-binary
python-keycloak
urllib3<3.0.0
uvicorn
whitenoise
