interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer abcdefg
    method: GET
    uri: http://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=eikenprocessierups&page_size=1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=eikenprocessierups&page_size=1
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Authorization:
      - Bearer abcdefg
    method: GET
    uri: https://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=eikenprocessierups&page_size=1
  response:
    body:
      string: '{"_links":{"self":{"href":"https://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=eikenprocessierups&page_size=1"},"next":{"href":"https://test.com/signals/v1/private/signals/?category_slug=eikenprocessierups&page=2&page_size=1&status=m&updated_after=2022-01-27T14%3A00%3A00"},"previous":{"href":null}},"count":2,"results":[{"_links":{"self":{"href":"https://test.com/signals/v1/private/signals/2"}},"_display":"2
        - m - None - 2023-01-27T14:18:31.395783+01:00","id":2,"id_display":"SIG-2","signal_id":"46562694-c9c9-44df-a275-1c399af56a2e","source":"online","text":"eikenprocessierups","text_extra":"","status":{"text":null,"user":null,"state":"m","state_display":"Gemeld","target_api":null,"extra_properties":null,"send_email":false,"created_at":"2023-01-27T14:18:31.409008+01:00","email_override":null},"location":{"id":2,"stadsdeel":null,"buurt_code":null,"area_type_code":null,"area_code":null,"area_name":null,"address":{"postcode":"","huisletter":"","huisnummer":25,"woonplaats":"Amsterdam","openbare_ruimte":"Frederik
        Hendrikplantsoen","huisnummer_toevoeging":""},"address_text":"Frederik Hendrikplantsoen
        25  Amsterdam","geometrie":{"type":"Point","coordinates":[4.87726014188586,52.3782493653776]},"extra_properties":{"original_address":{"huisnummer":"25","woonplaats":"Amsterdam","openbare_ruimte":"Frederik
        Hendrikplantsoen"}},"created_by":null,"bag_validated":true},"category":{"sub":"Eikenprocessierups","sub_slug":"eikenprocessierups","main":"Openbaar
        groen en water","main_slug":"openbaar-groen-en-water","category_url":"https://test.com/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups","departments":"STW","created_by":null,"text":null,"deadline":"2023-02-10T14:18:31.395783+01:00","deadline_factor_3":"2023-03-10T14:18:31.395783+01:00"},"reporter":{"email":"","phone":"","sharing_allowed":false,"allows_contact":true},"priority":{"priority":"normal","created_by":null},"type":{"code":"SIG","created_at":"2023-01-27T14:18:31.418430+01:00","created_by":null},"created_at":"2023-01-27T14:18:31.395783+01:00","updated_at":"2023-01-27T14:18:31.420023+01:00","incident_date_start":"2023-01-27T14:18:31+01:00","incident_date_end":null,"operational_date":null,"has_attachments":false,"extra_properties":[{"id":"extra_eikenprocessierups","label":"Boom","answer":[{"id":73289,"type":"Eikenboom","label":"Eikenboom
        - 73289","status":"checked","address":{"huisnummer":"25","woonplaats":"Amsterdam","openbare_ruimte":"Frederik
        Hendrikplantsoen"},"GlobalID":"92e6e7b2-36cf-460c-aa6c-c35fb6078a68","coordinates":{"lat":52.3783192322377,"lng":4.87733027314336},"description":"Eikenboom"},{"id":74002,"type":"Eikenboom","label":"Eikenboom
        - 74002","status":"checked","address":{"huisnummer":"25","woonplaats":"Amsterdam","openbare_ruimte":"Frederik
        Hendrikplantsoen"},"GlobalID":"258dd4be-d2ea-487d-8684-b5bd6dbd0f95","coordinates":{"lat":52.3783458423585,"lng":4.87729002042385},"description":"Eikenboom"},{"id":70529,"type":"Eikenboom","label":"Eikenboom
        - 70529","status":"checked","address":{"huisnummer":"25","woonplaats":"Amsterdam","openbare_ruimte":"Frederik
        Hendrikplantsoen"},"GlobalID":"17372d6b-943e-446e-89e1-e753800f68c9","coordinates":{"lat":52.3782493653776,"lng":4.87726014188586},"description":"Eikenboom"}],"category_url":"/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups"},{"id":"extra_nest_grootte","label":"Op
        de boom gezien","answer":{"id":"deken","info":"","label":"Rupsen bedekken
        de stam als een deken"},"category_url":"/signals/v1/public/terms/categories/openbaar-groen-en-water/sub_categories/eikenprocessierups"}],"notes":[],"routing_departments":null,"has_parent":false,"has_children":false,"assigned_user_email":null}]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-API-Version:
      - 2.13.0-beta.01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer abcdefg
    method: GET
    uri: https://test.com/signals/v1/private/signals/?category_slug=eikenprocessierups&page=2&page_size=1&status=m&updated_after=2022-01-27T14%3A00%3A00
  response:
    body:
      string: '{"_links":{"self":{"href":"https://test.com/signals/v1/private/signals/?category_slug=eikenprocessierups&page=2&page_size=1&status=m&updated_after=2022-01-27T14%3A00%3A00"},"next":{"href":null},"previous":{"href[...]
