interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer abcdefg
    method: GET
    uri: http://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=overig
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=overig
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      Authorization:
      - Bearer abcdefg
    method: GET
    uri: https://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=overig
  response:
    body:
      string: '{"_links":{"self":{"href":"https://test.com/signals/v1/private/signals/?updated_after=2022-01-27T14%3A00%3A00&status=m&category_slug=eikenprocessierups"},"next":{"href":null},"previous":{"href":null}},"count":0,"results":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-API-Version:
      - 2.13.0-beta.01
    status:
      code: 200
      message: OK
version: 1
